
.App {
  width: auto;
  height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding-top: 0px;
  flex-direction: column;
  background-image: url(./helpers/1880053.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.App .SearchBar {
  width: 20.5rem;
  height: 40px;
  font-size: large;
  margin-bottom: .5rem;
}
/* Rent logo */
.rentLogo {
  width: 100%;
  align-self: center;
  color: white;
  font-family: "Courier New", monospace;
  text-align: center;
  justify-content: center;
}

.rentLogo a {
  color: white;
}



.post {
  width: auto;
  height: 420px;
  border-radius: 10px;
  max-width: 480px;
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: #e2e2e2;
  
}

.post:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: url('./helpers/blue-wrench.png'), auto;
}

.post .title {
  flex: 25%;
  border-bottom: 1px solid lightgray;
  border-radius: 10px;
  max-height: 5rem;
  background-color: rgb(65, 64, 64);
  /* background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%); */
  font-size: larger;
  display: grid;
  place-content: center;
  color: white;
}

.post .body {
  flex: 60%;
  display: grid;
  place-content: center;
  background-color: white;
}

.post .postImage {
  align-self: center;
  width: auto;

  min-height: 300px;
  max-height: fit-content;
  max-width: fit-content;
}

.post .footer {
  flex: 20%;
  border-top: 1px solid lightgray;
  display: flex;
  justify-self: flex-end;
  align-items: center;
  padding-left: 15px;
  max-height: auto;
  background-color: rgb(65, 64, 64);
  /* background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(97, 186, 255, 1) 0%, rgba(166, 239, 253, 1) 90.1%); */
  color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.footuser{
  color: white;
}

.post .footer .buyButton {
  margin-left: 60px;
}

.post .footer .pricePerDay {
  padding-left: 20px;
}

.post .footer .depositFee {
  padding-left: 50px;
}

.post .footer .shippingFee {
  padding-left: 20px;
}

.post .rentType {
  flex: 30%;
  display: grid;
  align-items: flex-end;
  padding-left: 15px;
  background-color: white;
}

/* CREATE POST PAGE CSS */

.createPostPage {
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  width: 500px;
  height: auto;
  padding: 70px;
  border-radius: 5px;
  background-color: #0093E9;
  background-image: linear-gradient( 76.3deg,  rgba(44,62,78,1) 12.6%, rgba(69,103,131,1) 82.8% );
}

.formContainer #inputCreatePost {
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid grey;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 22px;
}

.formContainer button {
  margin-top: 15px;
  height: 40px;
  border: none;
  background-image: linear-gradient(45deg, #0093E9 0%, #80D0C7 100%);
  border-radius: 5px;
  color: white;
}



.formContainer button:hover {
  cursor: url('./helpers/blue-wrench.png'), auto;
  background-image: linear-gradient(160deg, #0093E9 0%, #45b3a6 100%);
}

span {
  color: red;
}

/* Post buy buttons */

.postBuyButtons button {
  padding: 20px;
  padding-bottom: 30px;
  background-color: white;
}

.postBuyButtons button:hover {
  background-color: #f1f1f1;
}

/* NAVBAR */

.navbar {
  display: flex;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  align-items: baseline;
  justify-content: flex-end;
  background-color: rgba(0,0,0,0.5);
  margin-bottom: 20px;
}

.navbar a {
  font-size: 16px;
  border: 1px solid white;
  padding: 15px;
  margin: 5px;
  color: white;
  text-decoration: none;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

.navbar a:hover {
  background-image: linear-gradient(160deg, #0093E9 0%, #45b3a6 100%);
}

.navbar button {
  position: relative;
  width: 100px;
  color: white;
  font-size: 16px;
  border-radius: 0px;
  border: 1px solid white;
  background-image: linear-gradient(45deg, #0093E9 0%, #80D0C7 100%);
}

.navbar button:hover {
  background-image: linear-gradient(160deg, #0093E9 0%, #45b3a6 100%);
}

/* INDIVIDUAL POST */
.postPage {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.leftSide {
  flex: 50%;
  height: calc(100vh - 70px);
  display: grid;
  place-items: center;
  align-content: flex-start;
}
.leftSide .postImage{
  max-width:470px;
  max-height: 350px;
  justify-self: center;
}

.rightSide {
  flex: 50%;
  height: calc(100vh - 70px);
  display: grid;
  place-items: center;
  display: flex;
  flex-direction: column;
  
}

.rightSide .addCommentContainer {
  flex: 20%;
  width: 100%;
  display: grid;
  place-items: center;
  margin-top: 25px;
}

.addCommentContainer input,
button {
  width: 200px;
  height: 50px;
  border-radius: 8px;
  border: none;
}

.addCommentContainer button {
  background-image: linear-gradient(45deg, #0093E9 0%, #80D0C7 100%);
  color: white;
}

.addCommentContainer button:hover {
  background-image: linear-gradient(160deg, #0093E9 0%, #45b3a6 100%);
}

.addCommentContainer input {
  border: 2px solid dodgerblue;
}

.rightSide .listOfComments {
  flex: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  
}

.rightSide .postInfo {
  place-items: left;
  
  padding-left: 50px;
  padding-top: 1cm;
  padding-bottom: 1cm;
  font-size: larger;
  background-image: linear-gradient(45deg, #0093E9 0%, #80D0C7 100%);
  border: 2px solid black;
  border-radius: 10px ;
}

.rightSide .postInfo .otherInfo {
  padding-right: 12cm;
  padding-bottom: 10px;
}
.rightSide .postInfo .otherInfo .postCategory{
  padding-bottom: 10px;
}
.rightSide .postInfo .otherInfo .depositFee{
  padding-bottom: 10px;
}
.rightSide .postInfo .otherInfo .shippingFee{
  padding-bottom: 10px;
}
.rightSide .postInfo .otherInfo .pricePerDay{
  padding-bottom: 10px;
}

.listOfComments .comment {
  width: 70%;
  height: 50%;
  padding-left: 15px;
  border: 1px solid lightgray;
  border-radius: 10px;
  margin-top: 5px;
  background-color: #f9f9f9;
}

.listOfComments .comment button{
  width: 75px;
  margin-left: 290px;
}

.commentBody{
  width: 300px;
  height: 50px;

  overflow-x: hidden;
  overflow-y: scroll;
}

#individual {
  height: 500px;
  width: 600px;
}

#individual .title {
  flex: 25%;
  font-size: 30px;
  max-height: 66px;
}

#individual .footer {
  flex: 25%;
  font-size: 30px;
  max-height: 66px;
}

#individual .body {
  font-size: 25px;
  place-content: center;
  align-content: center;
  
  background-color: white;
}

#individual .body .postImage{
  max-height: 350px;
}

#individual .rentType {
  font-size: 25px;
  background-color: white;
}

#individual .pricePerDay {
  padding-left: 4cm;
}

/* LOGIN */

.loginContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding-top: 100px;
}

.loginContainer input,
button {
  width: 200px;
  height: 50px;
  border-radius: 8px;
  border: none;
  margin: 10px;
}

.loginContainer button {
  background-image: linear-gradient(45deg, #0093E9 0%, #80D0C7 100%);
  color: white;
}

.loginContainer input {
  border: 2px solid dodgerblue;
}

.loginContainer button:hover {
  cursor: url('./helpers/blue-wrench.png'), auto;
  background-image: linear-gradient(160deg, #0093E9 0%, #45b3a6 100%);
}

/* Dropdown menu */

.App .Dropdown {
  width: 24vw;
  font-size: large;
}

/* Profile Page */

.profilePageContainer {
  display: grid;
  width: 95%;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: auto;
  grid-template-areas:
    "header header header "
    "filter post post ";
  grid-auto-rows: 1fr;
  grid-auto-columns: 1fr;
  gap: 10px;
}

@media screen and (max-width: 1000px) {
  .profilePageContainer {
    display: grid;
    width: 95%;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: max-content;
    grid-template-areas:
      "header header"
      "filter post";
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
    gap: 10px;
  }
}

.basicinfo {
  grid-area: header;
}

.filters {
  grid-area: filter;
}

.filters{
  width: 21rem;
  height: 40px;
  font-size: large;
}

.userPost {
  display: grid;
  border: 1px solid #0093E9;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "title title category"
    "image image image"
    "deposit ship perday"
    "edit blank remove";
  background-image: linear-gradient(160deg, #0093E9 0%, #45b3a6 100%);
  text-align: center;
}

.userPost .userTitle {
  max-height: 25px;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #000000;
  font-size: large;
  font-weight: 600;
  grid-area: title;
}

.userPost .userRentType {
  max-height: 25px;
  grid-area: category;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #000000;
  
}

.userPost .userBody {
  grid-area: description;
  max-height: 100px;
  padding-top: 10px;
  border-radius: 3px;
  border: 1px solid #000000;
}

.userPost .userPostImage {
  grid-area: image;
  justify-self: center;
  width: 100%;
  max-width: 400px;
  height: auto;
  border: 1px solid black;
}

.userPost .userDepositFee {
  grid-area: deposit;
  padding: 10px;
}

.userPost .userShippingFee {
  grid-area: ship;
  padding: 10px;
}

.userPost .userPricePerDay {
  grid-area: perday;
  padding: 10px;
}

.dropdown .dropbtn {
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  color: white;
  
  font-size: 16px;
  border: none;
  cursor: pointer;
  border: 1px solid white;
}

.dropdown {
  position: relative;
  display: inline-block;
  height: auto;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border: 1px solid black;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border: 1px solid black;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-image: linear-gradient(160deg, #0093E9 0%, #45b3a6 100%);
}

/* Hompage */
.flex-container{
  height: 100vh;
  width: 100vw;
}

.homepage-grid {
  display: grid;
  gap: 15px;
  width: 97%;
  
  grid-template-areas:
    " filter post post"
    "filter post post"
    "filter post post"
    ;
}

@media screen and (max-width: 1599px) {
  .homepage-grid {
    display: grid;
    width: 95%;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: max-content;
    grid-template-areas:
      "filter post post"
      "filter post post"
      "filter post post";
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
    gap: 10px;
  }
  .posts{
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
  }
}

@media screen and (max-width: 868px) {
  .homepage-grid {
    display: grid;
    width: 95%;
    grid-template-columns: 1fr;
    grid-template-rows: max-content;
    grid-template-areas:
      "filter "
      "post"
      "post";
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
    gap: 10px;
  }
  .posts{
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: auto;
  }
}
/* cart*/


.listing{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  padding-top: 15px;
  left: 0px;
  background-color: #f1f1f1;
  border-radius: 10px;
  border: 2px solid gray;
  margin: 10px;
  
}

.listing .listingLeft .postImage{
  max-height: 280px;
  max-width: 400px;
  border: 2px solid gray;
  
}

.listing .listingLeft{
  flex: 50%;
 
  display: grid;
  place-items: center;
  align-content: flex-start;
}

.listing .listingRight{
  padding-left: 20px;
  font-size: large;
}

.listing button{
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

.listing button:hover{
  background-image: linear-gradient(160deg, #0093E9 0%, #45b3a6 100%);
}

/*Rental and purchase history*/
.postHistory{
  display: grid;
  grid-template-areas: 
  "filter post";
}
.postHistoryContainer{
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: row;
  padding-top: 15px;
  left: 0px;
  background-color: #f1f1f1;
  border-radius: 10px;
  border: 2px solid gray;
  margin: 10px;
}
.postHistoryLeft .postImage{
  max-height: 300px;
  max-width: 400px;
  padding-left: 25px;
  padding-bottom: 15px;
  padding-right: 20px;
}
.postHistoryRight{
  padding-top:10px;
}
.postHistoryRight button{
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

.postHistoryRight button:hover{
  background-image: linear-gradient(160deg, #0093E9 0%, #45b3a6 100%);
}

.postHistoryRight .itemReturned{
  font-size: large;
  font-weight: bold;
}
