.App {
  width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: 0px;
  flex-direction: column;
  background-image: linear-gradient(109.6deg, rgba(223, 234, 247, 1) 11.2%, rgba(244, 248, 252, 1) 91.1%);
  
}

body {
  margin: 0;
  padding: 0;
}

.App .SearchBar {
  width: 24.5vw;
  height: 40px;
  font-size: large;
}

/* Rent logo */
.rentLogo{
  font-size: 100px;
  width: 100%;
  align-self: center;
  color: white;
  font-family: "Courier New", monospace;
  text-align: center;
  display: flex;
  justify-content: center;
  background-color:#0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  
}

.rentLogo a {
  color: white;
}

.usernameLogin {
  font-size: 20px;
  align-self: right;
}

.post {

  width: 550px;
  height: 450px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  border: 1px solid lightgray;
  font-family: Arial, Helvetica, sans-serif;

  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}


.post:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: url('./helpers/blue-wrench.png'), auto;
}

.post .title {
  flex: 25%;
  border-bottom: 1px solid lightgray;
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  font-size: larger;
  display: grid;
  place-content: center;
  color: white;
}

.post .body {
  flex: 60%;
  display: grid;
  place-content: center;
  background-color: white;
}

.post .postImage{
  align-self: center;
}

.post .footer {
  flex: 20%;
  border-top: 1px solid lightgray;
  display: flex;
  align-items: center;
  padding-left: 15px;
  
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(97,186,255,1) 0%, rgba(166,239,253,1) 90.1% );
  color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.post .footer .buyButton{
  margin-left: 60px;
}

.post .footer .pricePerDay{
  padding-left: 20px;
}

.post .footer .depositFee{
  padding-left: 50px;
}

.post .footer .shippingFee{
  padding-left: 20px;
}

.post .rentType {
  flex: 30%;
  display: grid;
  align-items: flex-end;
  padding-left: 15px;
  background-color: white;
}




/* CREATE POST PAGE CSS */

.createPostPage {
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  height: auto;
  padding: 50px;

  border-radius: 5px;

  background-color: #0093E9;
  background-image: linear-gradient(152deg, #0093E9 0%, #80D0C7 56%, #ffffff 100%);

}

.formContainer #inputCreatePost {
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid grey;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 22px;
}

.formContainer button {
  margin-top: 15px;
  height: 40px;
  border: none;
  background-image: linear-gradient(45deg, #0093E9 0%, #80D0C7 100%);
  border-radius: 5px;
  color: white;

}



.formContainer button:hover {
  cursor: url('./helpers/blue-wrench.png'), auto;
  background-image: linear-gradient(160deg, #0093E9 0%, #45b3a6 100%);
}


span {
  color: red;
}

/* Post buy buttons */

.postBuyButtons button{
  padding: 20px;
  padding-bottom: 30px;
  background-image: linear-gradient(45deg, #0093E9 0%, #80D0C7 100%);
}

.postBuyButtons button:hover{
  background-image: linear-gradient(160deg, #0093E9 0%, #45b3a6 100%);
}

/* NAVBAR */

.navbar {
  width: 100%;
  padding: 24px;
  display:block;
  position: sticky;
  align-items: baseline;
  justify-content: baseline;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  text-decoration: none;
}

.navbar a {
  justify-content: baseline;
  border: 1px solid white;
  padding: 15px;
  margin: 5px;
  color: white;
  text-decoration: none;
}

.navbar button {
  position:relative; 
  width: 100px;
  padding: 15px;
  color: white;
  font-size: 16px;
  border-radius: 0px;
  border: 1px solid white;
  display: inline-block;
  background-color: transparent;
}

/* INDIVIDUAL POST */
.postPage {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.leftSide {
  flex: 50%;
  height: calc(100vh - 70px);
  display: grid;
  place-items: center;
}

.rightSide {
  flex: 50%;
  height: calc(100vh - 70px);
  display: grid;
  place-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 0.5cm;
}

.rightSide .addCommentContainer {
  flex: 20%;
  width: 100%;
  display: grid;
  place-items: center;
  margin-top: 25px;
}

.addCommentContainer input,
button {
  width: 200px;
  height: 50px;
  border-radius: 8px;
  border: none;
}

.addCommentContainer button {
  background-image: linear-gradient(45deg, #0093E9 0%, #80D0C7 100%);
  color: white;
}

.addCommentContainer button:hover {
  background-image: linear-gradient(160deg, #0093E9 0%, #45b3a6 100%);
}

.addCommentContainer input {
  border: 2px solid dodgerblue;
}

.rightSide .listOfComments {
  flex: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rightSide .postInfo{
  place-items: left;
  padding-right: 20px;
  padding-left: 50px;
  padding-top: 1.5cm;
  font-size: larger;
}

.rightSide .postInfo .otherInfo{
  padding-right: 12cm;
}


.listOfComments .comment {
  width: 70%;
  height: auto;
  padding: 30px;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-top: 20px;
}


#individual {
  height: 500px;
  width: 600px;
}

#individual .title{
  flex: 25%;
  font-size: 30px;
}

#individual .footer {
  flex: 25%;
  font-size: 30px;
}

#individual .body {
  font-size: 25px;
  place-content: center;
  align-content: center;
  padding-left: 10px;
  background-color: white;
}

#individual .rentType {
  font-size: 25px;
  background-color: white;
}

#individual .pricePerDay{
  padding-left: 4cm;
}
/* LOGIN */

.loginContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding-top: 100px;
}

.loginContainer input,
button {
  width: 200px;
  height: 50px;
  border-radius: 8px;
  border: none;
  margin: 10px;
}

.loginContainer button {
  background-image: linear-gradient(45deg, #0093E9 0%, #80D0C7 100%);
  color: white;
}

.loginContainer input {
  border: 2px solid dodgerblue;
}

.loginContainer button:hover {
  cursor: url('./helpers/blue-wrench.png'), auto;
  background-image: linear-gradient(160deg, #0093E9 0%, #45b3a6 100%);
}

/* Dropdown menu */

.App .Dropdown {
  width: 24vw;
  font-size: large;
}

/* Profile Page */

.profilePageContainer{
  display: grid;
  width: 95%;
  grid-template-columns: [r1] 1fr [r2] 2fr [r3] 2fr;
  grid-template-rows: repeat(3, 1fr);
  
}
